torch>=2.0.1
transformers==4.40.1
onnxruntime-gpu==1.19.2
pydantic==2.10.6
deepspeed==0.16.7
accelerate==0.30.0
datasets==2.15.0
tensorboard>=2.10.0
wandb==0.12.10
bitsandbytes==0.41.3.post2
sentencepiece
torch-ort
optimum
scikit-learn
onnxmltools
chardet
cchardet
tokenmonster
einops
tokenizers==0.19.1
black
protobuf==3.20.2
onnxconverter-common
numba
marisa_trie